html
  head
    title!= title
    link(rel='stylesheet', href='../assets/css/main.css')
    link(rel='stylesheet', href='../assets/css/fonts.css')
    link(rel='stylesheet', href='../assets/css/w3.css')
  body
    div(class='bgimg w3-display-container w3-animate-opacity w3-text-white')
      div(class='w3-display-topleft w3-padding-large w3-xlarge')
        LOGO
      div(class='w3-display-middle')
        h1(class='w3-jumbo w3-animate-top')!= message
        hr(class='w3-border-grey')
        p(class='w3-large w3-center') It works
